.pop_up_info {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    transform: translateY(-44.5%) scale(0);
    transition: .4s ease-in-out;
}

    .pop_up_info.active {
        transform: translateY(0%);
    }

.pop_up_cont_info {
    display: flex;
    width: 100%;
    height: 100%;
}

.pop_up_body_info {
    margin: auto;
    width: 500px;
    height: 680px;
    background-color: #008eb3;
    border-width: 2px;
    border-radius: 10px;
    text-align: center;
    padding: 100px, 15px, 110px, 15px;
    position: relative;
}

    .pop_up_body_info p {
        font-size: 28px;
        font-family: 'Modern No. 20';
        font-weight: 600;
        color: #22262D;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .pop_up_body_info button {
        background-color: deepskyblue;
        color: black;
        font-size: 24px;
        cursor: pointer;
        display: block;
        width: 330px;
        margin: 60px auto 0px auto;
        padding: 20px 0px;
        font-family: 'Modern No. 20';
        font-weight: 500;
        font-size: 16px;
        border: none;
        color: #fff;
        border-radius: 10px;
    }

    .pop_up_body_info input {
        display: block;
        margin: 25px auto 0px auto;
        width: 330px;
        padding: 17px 20px;
        background-color: #E5E5E5;
        border-radius: 10px;
        border: none;
        font-family: 'Modern No. 20';
        font-weight: 500;
        font-size: 18px;
        color: #89909F;
    }
    .pop_up_body_info textarea {
        display: block;
        margin: 25px auto 0px auto;
        width: 330px;
        padding: 17px 20px;
        background-color: #E5E5E5;
        border-radius: 10px;
        border: none;
        font-family: 'Modern No. 20';
        font-weight: 500;
        font-size: 18px;
        color: #89909F;
    }

    .pop_up_body_info input:focus {
        outline: none;
    }

.pop_up_close_info {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 21px;
    cursor: pointer;
}

.pop_up_error_info {
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Modern No. 20';
    color: red;
}
