@model SmartMedicineProject.ViewModels.MainViewModel;

<link rel="stylesheet" href="~/css/Record_pop_up.css" />

<h2>Hello, @Html.DisplayFor(Model => Model.FullName) @Html.DisplayFor(Model => Model.Role)</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole("Doctor") || User.Identity.IsAuthenticated && User.IsInRole("Undefined"))
{
<div class="navigationBlock">
    <div class="navigationBlock-cont">
        <div class="navigationBlock"-body>
            <ul class="navigation-panel">
                <li class="navigation-link">
                    <a class="link" asp-area="" asp-controller="" asp-action="">Личные данные</a>
                </li>
                @if(User.Identity.IsAuthenticated && User.IsInRole("Doctor")) { 
                <li class="navigation-link">
                    <a class="link" href="#" id="OpenRecordsView">Пациенты</a>
                </li>
                <li class="navigation-link">
                    <a href="#" class="link" id="OpenJoinView">Новые записи</a>
                </li>
                <li class="navigation-link">
                    <a href="#" onclick="OpenRecordPopUp()" id="open_record_pop_up">Новая запись</a>
                </li>
                }
            </ul>
        </div>
    </div>
</div>
}
<div id="PartialViews">

</div>
<div class="record_panel_pop_up" id="rpandel_pop_up">
    <div class="record_panel_cont_pop_up">
        <div class="record_panel_body_pop_up">
            <p>Запись</p>
            <form id="frecord">
                <input type="text" id="FullName" placeholder="ФИО" required>
                <input type="text" id="PhoneNumber" placeholder="Телефон" required>
                <input type="text" id="Email" placeholder="Ел.Почта">
                <input type="text" id="Address" placeholder="Адрес" required>
                <button type="submit" class="btn btn-outline-dark">Создать запись</button>
            </form>
            <div id="record_panel_close_pop_up" onclick="CloseRecordPopUp()" class="pop_up_close">&#10006</div>
            <p id="record_panel_error_pop_up" style="color:forestgreen;"></p>
        </div>
    </div>
</div>

<script src="~/js/PopUpRecordPanel.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
    debugger;
    $('#OpenRecordsView').click(function (e) {
        $('#PartialViews').load('@Url.Action("PacientsInfo", "Recording")')
    });
    $('#OpenJoinView').click(function (e) {
        $('#PartialViews').load('@Url.Action("JoinRecord", "Recording")')
    });
});
</script>
